flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@8e87e70d49487bc6d96587d5f9e9850727e9817b
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@fe9cc27b608ab18592b338519a5b0826f73e9a80
pandas
numpy
requests
pytz
pandas_market_calendars
ib_insync
google-auth
google-cloud-compute
google-cloud-secret-manager
google-cloud-storage
yfinance
