flask
gunicorn
quant-platform-kit @ git+https://github.com/QuantStrategyLab/QuantPlatformKit.git@8769362096227320bc05c791b5244d4b3e88db50
us-equity-strategies @ git+https://github.com/QuantStrategyLab/UsEquityStrategies.git@ed55a6af0245323dbed82060e89be96d8f77f756
pandas
numpy
requests
pytz
pandas_market_calendars
ib_insync
google-auth
google-cloud-compute
google-cloud-secret-manager
google-cloud-storage
yfinance
